@model AdaptiveLearningFinal.Models.UsersInRole

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>UsersInRole</legend>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">Role</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role.RoleName)
    </div>

    <div class="display-label">SetDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SetDate)
    </div>

    <div class="display-label">UserRoleID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserRoleID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
