@model AdaptiveLearningFinal.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Course</legend>

    <div class="display-label">ClassID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClassID)
    </div>

    <div class="display-label">ClassName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClassName)
    </div>

    <div class="display-label">Topic</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Topic.TopicName)
    </div>

    <div class="display-label">ClassLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClassLevel)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ClassID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
