@model AdaptiveLearningFinal.Models.CourseQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CourseQuestion</legend>

    <div class="display-label">QuestionID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionID)
    </div>

    <div class="display-label">QuestionLevel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionLevel)
    </div>

    <div class="display-label">QuestionAnswerA</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionAnswerA)
    </div>

    <div class="display-label">QuestionAnswerB</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionAnswerB)
    </div>

    <div class="display-label">QuestionAnswerC</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionAnswerC)
    </div>

    <div class="display-label">QuestionAnswerD</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionAnswerD)
    </div>

    <div class="display-label">QuestionExplanation</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionExplanation)
    </div>

    <div class="display-label">Question</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question)
    </div>

    <div class="display-label">Course</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Course.ClassName)
    </div>

    <div class="display-label">QuestionCorrectAnswer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionCorrectAnswer)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.QuestionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
